version: '3'

services:
  # Agents
  # faber-agent:
  hospital-agent:
    image: ghcr.io/openwallet-foundation/acapy-agent:py3.12-1.2-lts
    command:
      [
        "start",
        "--label", "Hospital Agent",
        "--inbound-transport", "http", "0.0.0.0", "8020",
        "--outbound-transport", "http",
        "--admin", "0.0.0.0", "8021",
        "--admin-insecure-mode",
        "--endpoint", "http://hospital-agent:8020",
        "--wallet-type", "askar",
        "--wallet-name", "hospital_wallet",
        "--wallet-key", "hospital_secret",
        "--seed", "faber000000000000000000000000001",
        # "--genesis-url", "http://test.bcovrin.vonx.io/genesis",
        "--genesis-url", "http://host.docker.internal:9000/genesis",
        "--auto-provision",
        "--auto-accept-invites",
        "--auto-accept-requests",
        "--auto-respond-messages",
        "--auto-respond-credential-offer",
        "--auto-respond-credential-request",
        "--auto-respond-presentation-request"
      ]
    volumes:
      - hospital_wallet_data:/home/aries/.aca-py
    ports:
      - 8120:8020
      - 8121:8021
    networks:
      - aca
    tty: true

  patient-agent:
    image: ghcr.io/openwallet-foundation/acapy-agent:py3.12-1.2-lts
    command:
      [
        "start",
        "--label", "Patient Agent",
        "--inbound-transport", "http", "0.0.0.0", "8030",
        "--outbound-transport", "http",
        "--admin", "0.0.0.0", "8031",
        "--admin-insecure-mode",
        "--endpoint", "http://patient-agent:8030",
        "--wallet-type", "askar",
        "--wallet-name", "patient_wallet",
        "--wallet-key", "patient_secret",
        # "--genesis-url", "http://test.bcovrin.vonx.io/genesis",
        "--genesis-url", "http://host.docker.internal:9000/genesis",
        "--auto-provision",
        "--auto-accept-invites",
        "--auto-accept-requests",
        "--auto-respond-messages",
        "--auto-store-credential"
      ]
    volumes:
      - patient_wallet_data:/home/aries/.aca-py
    ports:
      - 8130:8030
      - 8131:8031
    networks:
      - aca
    tty: true

  insurer-agent:
    image: ghcr.io/openwallet-foundation/acapy-agent:py3.12-1.2-lts
    command:
      [
        "start",
        "--label", "Insurer Agent",
        "--inbound-transport", "http", "0.0.0.0", "8040",
        "--outbound-transport", "http",
        "--admin", "0.0.0.0", "8041",
        "--admin-insecure-mode",
        "--endpoint", "http://insurer-agent:8040",
        "--wallet-type", "askar",
        "--wallet-name", "acme_wallet",
        "--wallet-key", "acme_secret",
        "--seed", "acme0000000000000000000000000001",
        # "--genesis-url", "http://test.bcovrin.vonx.io/genesis",
        "--genesis-url", "http://host.docker.internal:9000/genesis",
        "--auto-provision",
        "--auto-accept-invites",
        "--auto-accept-requests",
        "--auto-respond-messages",
        "--auto-respond-credential-offer",
        "--auto-respond-credential-request",
        "--auto-respond-presentation-request"

      ]
    volumes:
      - insurer_wallet_data:/home/aries/.aca-py
    ports:
      - 8140:8040
      - 8141:8041
    networks:
      - aca
    tty: true

  # Controllers
  hospital-controller:
    build:
      context: /Users/chenyantong/Desktop/(Name-react)acapy-controllers/AliceFaberAcmeDemo/controllers/hospital-controller
    ports:
      - 9021:5050
    networks:
      - aca
    depends_on:
      - hospital-agent
    environment:
      - RUNMODE=dev
      - FABER_AGENT_HOST=hospital-agent

  patient-controller:
    build:
      context: /Users/chenyantong/Desktop/(Name-react)acapy-controllers/AliceFaberAcmeDemo/controllers/patient-controller
      # args:
      #   - RUNMODE=${RUNMODE}
      #   - ALICE_AGENT_HOST=${ALICE_AGENT_HOST}
    ports:
      - 9031:9050
    networks:
      - aca
    depends_on:
      - patient-agent
    environment:
      - RUNMODE=dev
      - FABER_AGENT_HOST=patient-agent

  insurer-controller:
    build:
      context: /Users/chenyantong/Desktop/(Name-react)acapy-controllers/AliceFaberAcmeDemo/controllers/insurer-controller
    ports:
      - 9041:9050
    networks:
      - aca
    depends_on:
      - insurer-agent
    environment:
      - RUNMODE=dev
      - ACME_AGENT_HOST=insurer-agent

volumes:
  hospital_wallet_data:
  patient_wallet_data:
  insurer_wallet_data:

networks:
  aca:
